.item {
    margin: 1rem;
}

.content {
    display: flex;
    flex-grow: 1;
    text-align: left;
    padding: 1rem;
}

.content h3 {
    font-size: 1.25rem;
    color: #2c292b;
}

.content::-webkit-scrollbar {
    display: none;
}

.content:hover {
    cursor: pointer;
}

.actions {
    padding: 1.5rem;
    text-align: right;
}

.actions button {
    font: inherit;
    cursor: pointer;
    color: #77002e;
    border: 1px solid #77002e;
    background-color: transparent;
    width: 10vw;
    margin: 0.1rem;
    padding: 0.5rem 1.5rem;
    border-radius: 4px;
}

.actions button:hover,
.actions button:active {
    background-color: #ffe2ed;
}
